/* --- CLEAR ALL --- */

* {margin: 0; padding: 0; box-sizing: border-box;}

p, h1, h2, h3, h4, h5, h6 
{overflow-wrap: break-word;}

a {text-decoration: none; color: inherit;}

ol, ul 
{list-style: none;}

input, button, textarea, select 
{font: inherit; border: none; background: none;}


/* --- IMPORT ---*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


/* --- START --- */

body
{
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 3rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
}

h1 
{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.6em;
    color: hsl(0, 0%, 95%);
    margin-top: 30px;
    margin-bottom: 30px;
}

main
{
    max-width: auto;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    min-height: 500px;
}

article
{
    max-width: 300px;
    padding: 3.4em;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.cta a
{
    display: block;
    width: 100%;
    padding: 1em 2em 1em 2em;
    margin-top: 13vh;
    background-color: hsl(0, 0%, 95%);
    border-radius: 2em;
    border: solid 3px hsl(0, 0%, 95%);
    transition: .1s ease;
}

.cta a:hover
{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    transition: .1s ease;
}

p
{
    line-height: 1.6em;
}


.sedans a
{color: hsl(31, 77%, 52%);}
.suvs a
{color: hsl(184, 100%, 22%);}
.luxury a
{color: hsl(179, 100%, 13%);}

.sedans
{
    background-color: hsl(31, 77%, 52%);
}

.suvs
{
    background-color: hsl(184, 100%, 22%);
}

.luxury
{
    background-color: hsl(179, 100%, 13%);
}


/* --- RESPONSIVE --- */

@media all and (max-width: 1015px)
{
    main 
    {
        max-height: 100%;
        flex-direction: column;
    }

    article
    {
        max-width: 330px;
        padding-bottom: 40px;
    }

    .cta a
    {
        margin-top: 5vh;
    }
}